@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    position: relative;
    /* PUSH FOOTER TO THE BOTTOM */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: #EEEEEE;
}

:root {
    --main-color: #04718C;
    --secondary-color: #0645AD;
    --text-color: #000000DE;
}


body::-webkit-scrollbar {
    width: 7px
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

body::-webkit-scrollbar-thumb {
    background-color: #ABABAB;
    outline: 1px solid #ABABAB;
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin: 0 0 1em;
}

b,
strong,
p b,
p strong {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

picture {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.visually-hidden {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.main-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.logo {
    display: flex;
}

/* ------------ Header ------------ */
.header {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
}

.header__inner {
    max-width: 1420px;
    display: flex;
    align-items: flex-end;
    padding: 16px 40px;
}

.header__logo {
    margin-right: 16px;
}

.header__logo .logo__image {
    width: 72px;
}

.header__navbar {
    gap: 16px;
}

.header__navbar .navbar_link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header__navbar .navbar_link:hover {
    color: #A4C2FF;
}

.header__navbar .navbar_link:first-child {
    display: none;
}

.header__navbar .navbar_link span {
    display: none;
}

.header__login-btn {
    margin-left: 60px;
    padding: 6px 24px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    color: var(--secondary-color);
    background-color: white;
}

/* ------------ /end Header ------------ */


/* ------------ Navbar ------------ */
.navbar {
    display: flex;
}

/* ------------ /end Navbar ------------ */


/* ------------ Footer ------------ */
.footer {
    background-color: var(--main-color);
    color: white;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0 20px;
}

.footer__logo .logo__image {
    width: 88px;
}

.footer__nav {
    max-width: 920px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
    padding: 24px 0;
    border-bottom: 2px solid #fafafa;
}

.footer__nav-link {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.footer__nav-link:hover {
    color: #A4C2FF;
}

.footer__copyright {
    margin-bottom: 20px;
}

.footer__socials {
    display: flex;
    gap: 12px;
}

.footer__socials-link {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #348ba6;
}

.footer__socials-image {
    width: 32px;
}

/* ------------ /end Footer ------------ */


/* ------------ Main Wrapper ------------ */
.main-wrapper {
    max-width: 1400px;
    width: 100%;
    display: flex;
    /* PUSH FOOTER TO THE BOTTOM */
    flex-grow: 1;
    align-items: flex-start;
    margin: 0 auto;
    padding: 28px 40px 20px;
}

/* ------------ /end Main Wrapper ------------ */


/* ------------ Leftbar ------------ */
.leftbar {
    width: 280px;
    min-width: 280px;
}

.leftbar__title {
    margin-bottom: 16px;
}

.leftbar__body {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    padding: 20px 24px 12px;
    font-size: 15px;
}

.categories-nav__block {
    margin-bottom: 14px;
}

.categories-nav__block:last-child {
    margin-bottom: 0;
}

.categories-nav__link {
    display: flex;
    margin-bottom: 8px;
    line-height: 1.2;
    transition: 0.3s;
}

.categories-nav__link:hover {
    color: var(--main-color);
}

/* Home LeftBar */
.leftbar__body .accordion {
    margin-bottom: 14px;
}

.leftbar__body .accordion:last-child {
    margin-bottom: 0;
}

.leftbar__body .accordion__item {
    margin-bottom: 8px;
}

.leftbar__body .accordion__button {
    width: auto;
    text-align: left;
    line-height: 1.2;
}

.leftbar__body .accordion__collapse {
    flex-direction: column;
}

.leftbar__body .accordion__collapse a {
    width: max-content;
    line-height: 1.6;
    color: var(--main-color);
    text-decoration: none;
}

.leftbar__body .accordion__collapse a:first-child {
    margin-top: 4px;
}

/* ------------ /end Leftbar ------------ */


/* ------------ Rightbar ------------ */
.rightbar {
    width: 280px;
    min-width: 280px;
}

.rightbar__title {
    margin-bottom: 16px;
}

.rightbar__body {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
    padding: 20px 24px 16px;
    font-size: 15px;
}

.righbar__item-title {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.rightbar__quote-header {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
}

.rightbar__quote-author {
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
}

.rightbar__quote-image {
    width: 48px;
    height: 49px;
    border-radius: 50%;
}

.rightbar__quote-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.rightbar__expand {
    display: flex;
    justify-content: flex-end;
}

.rightbar__expand a {
    display: flex;
    padding: 8px;
    border-radius: 50%;
    transition: 0.3s;
}

.rightbar__expand span {
    font-size: 18px;
}

.rightbar__expand a:hover {
    background-color: #F4F4F4;
}

.rightbar__term-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.rightbar__term-body a {
    color: var(--secondary-color);
}

.rightbar__photo-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

/* ------------ /end Rightbar ------------ */


/* ------------ Main ------------ */
.main {
    flex-grow: 1;
    padding: 0 24px;
}

/* ------------ /end Main ------------ */


/* ------------ Video Card ------------ */
.video-thumb {
    position: relative;
}

.video-thumb__image {
    padding: 4px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #f8fafc;
}

.video-thumb__duration {
    position: absolute;
    right: 8px;
    bottom: 18px;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 10%;

}

/* ------------ /end Video Card ------------ */


/* ------------ Accordion ------------ */
.accordion__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: transparent;
    border: none;
    padding: 0;
}

.accordion__button-icon {
    transition: 0.3s;
    pointer-events: none;
}

.accordion__button--active .accordion__button-icon {
    transform: rotate(180deg);
}

.accordion__collapse {
    height: 0px;
    transition: height .3s;
    overflow: hidden;
    display: flex;
}

.accordion__collapse--show {
    height: 100%;
}

/* ------------ /end Accordion ------------ */


/* ------------ Search ------------ */
.search-form {
    display: flex;
}

.search-form__input {
    padding: 12px;
    width: 420px;
    border: 2px solid #9B9B9B;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: transparent;
    outline: none;
}

.search-form__input::placeholder {
    color: var(--text-color);
    font-weight: 200;
    font-size: 16px;
}

.search-form__button {
    padding: 0 16px;
    font-weight: 500;
    color: white;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--main-color);
}

/* ------------ /end Search ------------ */


/* ------------ Home ------------ */
.greetings__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;
}

.greetings__logo {
    width: 160px;
    margin: 40px 0;
}

.greetings__title {
    max-width: 320px;
    margin-bottom: 24px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.greetings__subtitle {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 400;
    color: var(--main-color);
    text-align: center;
}

.greetings__desc {
    font-size: 14.4px;
    text-align: center;
    line-height: 1.5;
}

/* ------------ /end Home ------------ */


/* ------------ Knowledge pages ------------ */
/* Knowledge index */
.knowledge-about__title {
    margin-bottom: 20px;
}

.knowledge-about__desc {
    max-width: 540px;
}

.knowledge-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 36px 0;
}

.knowledge-block__item {
    background-color: white;
    border-radius: 16px;
    padding: 24px 28px;
}

.knowledge-block__title {
    margin-bottom: 10px;
}

.knowledge-block__nav {
    column-count: 3;
}

.knowledge-block__link {
    width: max-content;
    display: flex;
    line-height: 1.8;
    color: var(--main-color);
}

/* ------------ /end Knowledge pages ------------ */


/* ------------ Quote pages ------------ */
.quotes-about__title {
    margin-bottom: 16px;
}
/* ------------ /end Quote pages ------------ */
